.bg-popular {
  background-image: url(/img/collection_parallax_2.png);
}
.bg-best {
  background-image: url(/img/home_best_selling_img.png);
}
.bg-layerCakes {
  background-image: url(https://cdn.shopify.com/s/files/1/1284/6493/files/offer_bg.png?v=1531128880);
}