html, body {
  font-size: 13px;
  line-height: 1.7;
  color: #a8b2b7;
  background-color: #ffffff;
  @include s370 {
    font-size: 12px;
  }
  @include s768 {
    font-size: 13px;
  }
  @include s320 {
    font-size: 10px;
  }
}
.d-flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.parallax {
  background-attachment: fixed;
}
.has-bground {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}