/*Font*/

body {
  font-family: 'Open Sans', 'sans-serif';
}

/*Color*/

$color-primary: #f06178;
$color-a: #ffffff;
$color-b: #6f9a37;
$color-c: #101010;
$color-d: #f5f5f5;
$color-f: #ECECEC;
$color-g: #888888;
$color-aa: #666c73;
$color-bb: #4d535a;
$color-cc: #394047;
$color-dd: #2c3137;



/*Padding*/
$value : 5px;

$sizeList : 0, 1, 2, 3, 4, 5, 6, 7, 8;

@each $size in $sizeList {
  .pd--#{$size} {
    padding: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-l--#{$size} {
    padding-left: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-r--#{$size} {
    padding-right: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-t--#{$size} {
    padding-top: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-b--#{$size} {
    padding-bottom: $value * $size !important;
  }
}

// margin
@each $size in $sizeList {
  .mg--#{$size} {
    margin: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-t--#{$size} {
    margin-top: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-l--#{$size} {
    margin-left: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-b--#{$size} {
    margin-bottom: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-r--#{$size} {
    margin-right: $value * $size !important;
  }
}