/*Font*/

body {
  font-family: 'Open Sans', 'sans-serif';
}

/*Color*/

$color-primary: #ff7380;
$color-second: #f06178;
$color-a: #ffffff;
$color-b: #9fc58d;
$color-c: #4b4342;
$color-d: #ffda6b;
$color-f: #f4f4f4;
$colo-e: #bfbfbf;
$color-g: #78d6f0;

/*Padding*/
$value : 5px;

$sizeList : 0, 1, 2, 3, 4, 5, 6, 7, 8;

@each $size in $sizeList {
  .pd--#{$size} {
    padding: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-l--#{$size} {
    padding-left: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-r--#{$size} {
    padding-right: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-t--#{$size} {
    padding-top: $value * $size !important;
  }
}

@each $size in $sizeList {
  .pd-b--#{$size} {
    padding-bottom: $value * $size !important;
  }
}

// margin
@each $size in $sizeList {
  .mg--#{$size} {
    margin: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-t--#{$size} {
    margin-top: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-l--#{$size} {
    margin-left: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-b--#{$size} {
    margin-bottom: $value * $size !important;
  }
}

@each $size in $sizeList {
  .mg-r--#{$size} {
    margin-right: $value * $size !important;
  }
}

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('/fonts/GloriaHallelujah.ttf') format('truetype');
}

@font-face {
  font-family: 'MarckScript-Regular';
  src: url('/fonts/MarckScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-ExtraLight';
  src: url('/fonts/Nunito-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Light';
  src: url('/fonts/Nunito-Light.ttf') format('truetype');
}
